<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico"> -->


<!-- Set page title -->
{% if page.title == null %}
<title>Caffeinated Security</title>
{% else %}
<title>{{page.title}}</title>
{% endif %}


<!-- twitter -->



{%if page.pageImageCard %}
    <meta name="twitter:card" content="summary_large_image"><!-- required -->
    <meta name="twitter:image" content="{{ page.pageImageCard | absolute_url }}">
{% else %}
    <meta name="twitter:card" content="summary"><!-- required -->
    <!-- <meta name="twitter:image" content="{{ site.pageImageCard | absolute_url }}"> -->
    <meta name="twitter:image" content="https://caffeinatedsecurity.com/assets/img/posts/01/demo.png">
{% endif %}
    <meta name="twitter:site" content="@caffeinatedsecurity"><!-- required -->
    <meta name="twitter:title" content="{{ page.title }}">
{% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
{% else %}
    <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
{% endif %}

