<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico"> -->


<!-- Set page title -->
{% if page.title == null %}
<title>Caffeinated Security</title>
{% else %}
<title>{{page.title}}</title>
{% endif %}


<!-- twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@flickr" />
<meta name="twitter:title" content="Small Island Developing States Photo Submission" />
<meta name="twitter:description" content="View the album on Flickr." />
<meta name="twitter:image" content="https://caffeinatedsecurity.com/assets/img/logo.png" />


